<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div
        class="d-flex justify-content-center align-items-center flex-column Resume"
      >
        <img
          width="150hv"
          src="assets/imgs/Check.svg"
          alt="My Happy SVG"
          class="mb-3"
        />
        <span class="textResume m-3"
          >Your order has been submitted successfully!</span
        >
        <button
          class="m-2 btn btn-dark buttonsWith"
          (click)="navigateToOrder()"
        >
          Create another Order
        </button>
        <button
          class="m-2 btn btn-dark buttonsWith"
          (click)="navigateToAccount()"
        >
          Change Account
        </button>
      </div>
    </div>
  </div>
</div>
