<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div
        class="d-flex justify-content-center align-items-center flex-column Resume"
      >
        <img
          width="150hv"
          src="assets/imgs/Check.svg"
          alt="My Happy SVG"
          class="mb-5"
        />
        <span class="textResume m-3"
          >Your order has been submitted successfully!</span
        >
        <button mat-raised-button class="m-2" (click)="navigateToOrder()">
          Create another Order
        </button>
        <button mat-raised-button class="m-2" (click)="navigateToAccount()">
          Change Account
        </button>
      </div>
    </div>
  </div>
</div>
