/* product list */
.productItemCard{
    height: 40px;
    border-radius: 5px;
    border: solid #80808021 1px;
    -webkit-box-shadow: 0px 1px 0px 0px rgb(0 0 0 / 14%);
    -moz-box-shadow: 0px 1px 0px 0px rgb(0 0 0 / 14%);
    box-shadow: 0px 1px 0px 0px rgb(0 0 0 / 14%);
}

.productItemCardContent{
    width: 80%;
}
.productItemCardButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    
}

.productItemCardButton .btn-success {
    color: #fff;
    background-color: #6ebb54;
    border-color: #6ebb54;
}

.productItemCardButton button{
    font-size: .575rem;
}
.productItemCardTitle{
    color: gray;
    font-size: 12px;
    font-weight: 410;
    height: 18px;
    border-bottom: solid 1px #80808024;
}

.productItemCardBody{
    color: gray;
    font-size: 11px;
    height: 18px;
}


.container {
    display: flex;
    column-gap: 20px;
}

.productPanel{
    height: 50vh;
}
/* shoppingList*/
.shoppingList{
    height: 62.8vh;
}
.shoppingList > div
{
    display: flex;
    width: 100%;
    
    border-bottom: solid 1px #80808024;
}

.shoppingListProductsTitle{
    min-height: 20px;
}

.shoppingListProductsTitle>div{
    display: flex;
    align-items: end;
    margin-bottom: 5px;
    font-size: 11px;
    color: gray;
}

.shoppingListProducts>div{
    display: flex;
    align-items: center;
    font-size: 11px;
    color: rgb(168, 168, 168);
}

.shoppingListProducts>div:nth-child(1){
    color: gray;
    font-size: 12px;
    font-weight: 410;
}

.shoppingListProducts>div:nth-child(1),
.shoppingListProductsTitle>div:nth-child(1){
    width: 46%;
}

.shoppingListProductsTitle>div:nth-child(2),
.shoppingListProductsTitle>div:nth-child(3),
.shoppingListProductsTitle>div:nth-child(4){
    border-left: solid #80808036 1px;
}
.shoppingListProducts>div:nth-child(2),
.shoppingListProducts>div:nth-child(3),
.shoppingListProducts>div:nth-child(4),
.shoppingListProductsTitle>div:nth-child(2),
.shoppingListProductsTitle>div:nth-child(3),
.shoppingListProductsTitle>div:nth-child(4){
    width: 18%;
    justify-content: center;
    
}

.shoppingListProductsEmpty{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    min-height: 50px;
    font-size: 11px;
    color: #80808078;
}

.qtyProduct{
    height: 20px;
    width: 30px;
    text-align: center;

}
.shoppingListProducts
{
    min-height: 40px;
}


/* scroll bar*/
.scrollbar {
    overflow: auto;
    width: 100%;
}


.scrollbar::-webkit-scrollbar {
    width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #7b887d;
}