<div class="container-fluid w-100">
  <div class="row">
    <div class="col-12 col-sm-3 d-none d-sm-block"></div>

    <div class="col-12 col-sm-6 px-0">
      <div class="row">
        <div class="col-12 col-sm-5">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Product List</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div
                class="container mt-3 px-0 flex-column d-flex align-items-center w-100"
              >
                <mat-form-field class="productSearchBox w-100">
                  <mat-label>Product Search-Box</mat-label>
                  <input
                    matInput
                    type="text"
                    [(ngModel)]="productName"
                    (keyup)="
                      updateProductFilteredList(
                        getInputElementFromEvent($event).value
                      )
                    "
                  />
                  <button
                    *ngIf="productName"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="resetProductFilterList()"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <div class="scrollbar productPanel px-2">
                  <div
                    *ngFor="let product of products$ | async"
                    class="productItemCard d-flex mb-2"
                  >
                    <div class="productItemCardContent flex-column d-flex">
                      <div class="productItemCardTitle mx-1">
                        {{ product.name }}
                      </div>
                      <div class="productItemCardBody mx-1">
                        Price: {{ product.price }}
                      </div>
                    </div>
                    <div class="productItemCardButton">
                      <button
                        type="button"
                        class="btn btn-success btn-sm"
                        value="{{ product.id }}"
                        (click)="addOrderLineItem($event)"
                      >
                        Buy
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-12 col-sm-7">
          <div class="flex-column d-flex">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Shopping List</mat-card-title>
              </mat-card-header>
              <mat-card-content class="mt-2">
                <div class="scrollbar orderItemListPanel">
                  <div class="orderLineItemListTitle d-flex">
                    <div>Product</div>
                    <div>Unit Price</div>
                    <div>Quantity</div>
                    <div>Total</div>
                    <div></div>
                  </div>
                  <div
                    class="orderItemListEmpty"
                    *ngIf="orderLineItemList.length === 0"
                  >
                    <div>No Items Selected</div>
                  </div>
                  <div
                    *ngFor="let orderItem of orderLineItemList"
                    class="orderLineItemList d-flex"
                    orderLineItemList
                  >
                    <div>{{ getProductbyId(orderItem.productId).name }}</div>
                    <div>{{ getProductbyId(orderItem.productId).price }}</div>
                    <div>
                      <input
                        id="{{ orderItem.id }}"
                        type="text"
                        maxlength="4"
                        class="qtyProduct"
                        attr.data-orderItem="{{ orderItem.id }}"
                        aria-label="Small"
                        value="{{ orderItem.quantity }}"
                        (keypress)="keyPressNumbers($event)"
                        (keyup)="
                          setOrderLineItemLQuantity(
                            getInputAttrOrderId(
                              getInputElementFromEvent($event)
                            ),
                            getInputElementFromEvent($event).value
                          )
                        "
                      />
                    </div>
                    <div>{{ orderItem.lineItemPrice | currency }}</div>
                    <div
                      class="d-flex justify-content-center align-items-center"
                    >
                      <mat-icon
                        aria-hidden="false"
                        aria-label="Example home icon"
                        fontIcon="delete"
                        class="deleteIcon"
                        attr.data-orderItem="{{ orderItem.id }}"
                        (click)="
                          deleteOrderLineItem(
                            getInputAttrOrderId(
                              getInputElementFromEvent($event)
                            )
                          )
                        "
                      ></mat-icon>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card class="mt-2">
              <div class="submitOrderPanel d-flex flex-column">
                <div>
                  <span>Subtotal:</span><span>{{ subTotal | currency }}</span>
                </div>
                <div>
                  <span>Taxes({{ taxes }}%):</span
                  ><span>{{ taxesSubTotal | currency }}</span>
                </div>
                <div>
                  <span>Total:</span><span>{{ total | currency }}</span>
                </div>
                <div>
                  <button
                    class="btn btn-default"
                    [disabled]="orderLineItemList.length === 0"
                  >
                    Submit Order
                  </button>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-3 d-none d-sm-block"></div>
  </div>
</div>
