<div class="container-fluid w-100">
  <div class="row">
    <div class="col-12 col-sm-3 d-none d-sm-block"></div>

    <div class="col-12 col-sm-6 px-0">
      <div class="row">
        <div class="col-12 col-sm-6 px-0">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Listado de productos</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="container mt-3 px-0">
                <div class="flex-column d-flex align-items-center w-100">
                  <mat-form-field class="productSearchBox w-100">
                    <mat-label>Product Search-Box</mat-label>
                    <input
                      matInput
                      type="text"
                      [(ngModel)]="productName"
                      (keyup)="search(getValue($event))"
                    />
                    <button
                      *ngIf="productName"
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      (click)="resetFilter()"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                  <div class="scrollbar" id="scrollbar2">
                    <div class="d-flex flex-column px-2">
                      <div
                        *ngFor="let product of products$ | async"
                        class="productItemCard d-flex mb-2"
                      >
                        <div class="productItemCardContent flex-column d-flex">
                          <div class="productItemCardTitle mx-1">
                            {{ product.name }}
                          </div>
                          <div class="productItemCardBody mx-1">
                            Price: {{ product.price }}
                          </div>
                        </div>
                        <div class="productItemCardButton">
                          <button
                            type="button"
                            class="btn btn-success btn-sm"
                            value="{{ product.id }}"
                            (click)="addProductToCart($event)"
                          >
                            Buy
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-12 col-sm-6 px-0">sdadadas</div>
      </div>
    </div>

    <div class="col-12 col-sm-3 d-none d-sm-block"></div>
  </div>
</div>
