<div class="container-fluid w-100">
  <div class="row">
    <div class="col-12 col-sm-3 d-none d-sm-block"></div>

    <div class="col-12 col-sm-6 px-0">
      <div class="row">
        <div class="col-12 col-sm-6">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Product List</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div
                class="container mt-3 px-0 flex-column d-flex align-items-center w-100"
              >
                <mat-form-field class="productSearchBox w-100">
                  <mat-label>Product Search-Box</mat-label>
                  <input
                    matInput
                    type="text"
                    [(ngModel)]="productName"
                    (keyup)="updateProductFilteredList(getValue($event))"
                  />
                  <button
                    *ngIf="productName"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="resetProductFilterList()"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <div class="scrollbar productPanel px-2">
                  <div
                    *ngFor="let product of products$ | async"
                    class="productItemCard d-flex mb-2"
                  >
                    <div class="productItemCardContent flex-column d-flex">
                      <div class="productItemCardTitle mx-1">
                        {{ product.name }}
                      </div>
                      <div class="productItemCardBody mx-1">
                        Price: {{ product.price }}
                      </div>
                    </div>
                    <div class="productItemCardButton">
                      <button
                        type="button"
                        class="btn btn-success btn-sm"
                        value="{{ product.id }}"
                        (click)="addProductToCar($event)"
                      >
                        Buy
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-12 col-sm-6">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Shopping List</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-2">
              <div class="scrollbar shoppingList">
                <div class="shoppingListProductsTitle d-flex">
                  <div>Product</div>
                  <div>Unit Price</div>
                  <div>Quantity</div>
                  <div>Total</div>
                </div>
                <div
                  *ngFor="let orderItem of orderLineItemList"
                  class="shoppingListProducts d-flex"
                >
                  <div>{{ searchProductbyId(orderItem.productId).name }}</div>
                  <div>{{ searchProductbyId(orderItem.productId).price }}</div>
                  <div>
                    <input
                      id="{{ orderItem.id }}"
                      type="text"
                      class="qtyProduct"
                      attr.data-orderItem="{{ orderItem.id }}"
                      aria-label="Small"
                      value="{{ orderItem.quantity }}"
                      (keypress)="keyPressNumbers($event)"
                      (keyup)="setOrderLineItemLQuantity($event)"
                    />
                  </div>
                  <div>{{ orderItem.lineItemPrice | currency }}</div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-3 d-none d-sm-block"></div>
  </div>
</div>
